div.svelte-18th56u{width:50px;height:50px;position:absolute;transition:.1s  transform }
.column.svelte-158otgy{position:absolute;width:60px;height:100%;left:100%;top:0;display:flex;flex-direction:column}.inner.svelte-158otgy{position:relative;background-image:linear-gradient( 90deg, 
      #01579b 0%,
      #0277bd 60%,
      #0288d1 60%,
      #0288d1 70%,
      #039be5 70%,
      #039be5 80%,
      #03a9f4 80%,
      #03a9f4 90%,
      #29b6f6 90% 
    )
  }.inner.svelte-158otgy::after{content:"";position:absolute;left:-16px;right:-16px;height:28px;background-image:linear-gradient( 90deg, 
      #01579b 0%,
      #0277bd 60%,
      #0288d1 60%,
      #0288d1 70%,
      #039be5 70%,
      #039be5 80%,
      #03a9f4 80%,
      #03a9f4 90%,
      #29b6f6 90% 
    )
  }.inner.bottom.svelte-158otgy{margin-top:150px}.inner.bottom.svelte-158otgy::after{top:0}.inner.top.svelte-158otgy::after{bottom:0}.inner.top.svelte-158otgy{flex-grow:1}
.modal.svelte-11uph8h{position:fixed;top:50%;left:50%;border:3px solid rgb(12, 12, 12);padding:16px;background-color:#fff}.modal--buttons.svelte-11uph8h{display:flex;align-items:center;justify-content:flex-end}button.svelte-11uph8h{cursor:pointer;border:3px solid rgb(12, 12, 12)}button+button.svelte-11uph8h{margin-left:16px}
.wrapper.svelte-7gmt6b{overflow:hidden;position:relative;width:100%;height:100%;background-image:repeating-radial-gradient(#b2ebf2 10px, #e0f7fa 20px);background-size:100px 100px;background-position:0 0px}
